
.profile-main,.profile-main-name,.profile-main-img,.profile-main,.profile-main-report{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.profile-main-detail,.profile-main-rank-list,.profile-main-report{
    display: flex;
    position: relative;
    gap: 50px;
    width: 95%;
    border-radius: 10px;
    padding: 20px;
    background-color: none;
    justify-content: space-around;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-main-rank-list,.profile-main-report-test-report-btn{
    flex-wrap: wrap;

}

.profile-main-report-test-report-btn{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 25px;
}

.profile-main-heading{
    background-color: var(--clr-DarkColor);
    color: var(--clr-LightColor);
    position: absolute;
    padding: 2px 8px;
    border-radius: 8px;
    margin-top: -30px;
    left: 3rem;
}

.profile-main-rank-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border:  3px solid var(--clr-DarkColor);
    padding: 10px 5vw;
    border-radius: 10px;
    width: fit-content;
    background-color: var(--clr-LightColor);
}

.report-overlayer{
    /* margin-top: -540px; */
    top: 0;

}

.test-report-btn{
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 10rem;
    padding: 10px;
    background-color: var(--clr-LightColor);
    border:  2px solid var(--clr-DarkColor);
}

.test-report-btn:hover{
    cursor: pointer;
    background-color: var(--clr-DarkColor);
    color: var(--clr-LightColor);
}

.profile-main-report-chart>img{
    width: 92%;
    border-radius: 10px;
}

@media screen and (max-width:800px){
    .profile-main-detail{
        flex-direction: column;
    }

    .profile-overlayer{
        margin-top: -270px;
    }

    .profile-main-rank-card{
        padding: 10px 7vw;
    }

    .test-report-btn{
        font-size: 1.2rem;
        width: 9rem;
    }

    .profile-main-report{
        gap: 10px;
    }
    .profile-main-heading report-overlayer {
        position: relative;
    }
}

@media screen and (max-width:620px){
    .profile-main-rank-list{
        flex-direction: column;
        align-items: center;
    }

    .rank-list-overlayer{
        margin-top: -550px;
    }
}
