.notification-main{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    margin: 10px 0;
}

.close-button{  
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.5;
}

.heading-closebutton{
    display: flex;
    justify-content: space-between;
}

.notification-box{
    display: flex;
    flex-direction: column;
    
}
