.group-main{
    display: flex;
    position: relative;
}
.group-convers-detail{
    flex: 4;
}
.all-joined-group-list{
    flex: 1;
}
.all-group-box-main{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.group-box-discription{
    gap: 100px;
}

.group-box-detail{
    margin: 10px 0;
    flex-wrap: wrap;
}