.friend-main,.friend-suggestion-filter, .friend-request-box>h2{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 2rem;
}

.friend-suggestion-filter{
 align-items: center;
 gap: 75px;
}

.friend-details{
        display: flex;  
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 10px 40px;
        border-bottom: 2px solid var(--clr-DarkColor);
        margin-bottom: 15px;
        gap: 30px;
}


.friend-request-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.friend-name-major{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .friend-details{
        padding: 15px;
        gap: 10px;
    }

    .friend-name-major>h3{
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .friend-suggestion-filter>h2, .friend-request-box>h2{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 900px) {
    .friend-main{
        gap: 10px;
    }
    .friend-name-major>h3{
        display: block;
        font-size: 0.9rem;
    }

    .friend-name-major>h5{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 650px) {
    .friend-main{
        flex-direction: column-reverse;
        align-items: center;
    }

    .friend-details{
        width: auto;
    }
    
}
